<nav class="navbar navbar-dark bg-primary px-3">
  <a class="navbar-brand" href="#">Riesgo</a>
</nav>

<div class="row justify-content-md-center mt-4">
  <div class="col col-6">
    <h2 class="h3">ML Model Analysis</h2>
    <form>
      <div class="form-group">
        <label for="text">Model Description</label>
        <textarea class="form-control" rows="6" id="text"></textarea>
      </div>
      <div class="form-group mt-2">
        <label for="countries">Countries</label>
        <select class="form-control" id="countries" multiple>
          <option>Austria</option>
          <option>Belgium</option>
          <option>Bulgaria</option>
          <option>Croatia</option>
          <option>Cyprus</option>
          <option>Czechia</option>
          <option>Denmark</option>
          <option>Estonia</option>
          <option>Finland</option>
          <option>France</option>
          <option>Germany</option>
          <option>Greece</option>
          <option>Hungary</option>
          <option>Ireland</option>
          <option>Italy</option>
          <option>Latvia</option>
          <option>Lithuania</option>
          <option>Luxembourg</option>
          <option>Malta</option>
          <option>Netherlands</option>
          <option>Poland</option>
          <option>Portugal</option>
          <option>Romania</option>
          <option>Slovakia</option>
          <option>Slovenia</option>
          <option>Spain</option>
          <option>Sweden</option>
        </select>
      </div>
      <button class="btn btn-primary mt-3">Analyze!</button>
  </form>
  </div>
</div>